h1 {
  font-size: 30px;  
}

form {
	border: 2px solid black;
	width: 180px;
	height: 130px;
	text-align: center;
}

tr {
	text-align: center;
}

table {
	border: 2px solid black;
	width: 150px;
	height: 130px;
}